#retangulo {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: black;
}
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 90px;
    margin-top: 10px;
    color: var(--azul);
    font-family: Georgia, serif;
    font-size:1px;
    width: 100px;
    height: 90px;
}
.linha{
    border: solid #f1f1f1 1px;
    margin-bottom: 5px;
    width: 20px;
  }
.container img { 
    max-width: 300px;
}
header #container{
  background-color: black;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
i{
    position: relative;
    left: 10px;
    top: 10px;
}
nav{
    height: 100%;
    width: 0px;
    background-color: #fff;
    
    top:0;
    left:0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
    float:right;
  }
  
nav a{ 
    color: black;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
   
  
}
 nav a:hover{
   background: rgba(131, 170, 195, 0.8);   
}
  
main{
  padding: 10px;
  transition: margin-left 0.5s;
  float:right;
}
.dropbtn {
    background-color: black;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    padding: 5px;
    display: none;
    position: absolute;
    border-radius: 30px 0px;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.login{
    margin: 10px 0 20px 0 ;
}
  
.dropdown-content a {
    color: #ffffff;
    font-weight: bolder;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #ffffff;
}
.btnAcesso {
    border: solid 5px;
    border-radius: 156px;
    box-sizing: border-box;
    background-color: white;
    font-family: arial black;
    width: 159px;
    height: 41.5px;
    position: absolute;
    left: 735px;
    top: 37px;
    cursor: pointer;
}
.btnAcesso:hover{
    background-color: rgba(221, 220, 220, 0.678);
}
#logoBranca {
    width: 80px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 30px;
}
#icnBusca {
    width: 20px;
    height: 20px;
    position: relative;
    left: 300px;
    top: 0px;
}
#divBusca {
    background-color: white;
    border: solid 5px white;
    border-radius: 156px;
    width: 340px;
    height: 31px;
    position: absolute;
    left: 375px;
    top: 43.3px;
}
#divFiltro {
    background-color: white;
    border: solid 5px;
    border-radius: 156px;
}
#txtBusca {
    float:left;
    background-color: transparent;
    border-radius: 156px;
    padding-left: 5px;
    font-style: times;
    font-size: 18px;
    border: none;
    width: 339px;
    height: 31px;
    position: absolute;
    left: -3px;
    top: -5px;
}
.btnAcesso {
    border: solid 5px;
    border-radius: 156px;
    box-sizing: border-box;
    background-color: white;
    font-family: arial black;
    width: 159px;
    height: 41.5px;
    position: absolute;
    left: 775px;
    top: 37px;
    cursor: pointer;
}
#btnFiltro {
    border: solid 5px;
    border-radius: 156px;
    box-sizing: border-box;
    background-color: white;
    font-family: arial black;
    width: 159px;
    height: 41.5px;
    position: absolute;
    left: 959px;
    top: 37px;
}
.btnFiltroEx{
    border: solid 2px;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: white;
    font-family: arial black;
    width: 40px;
    height: 36px;
    position: absolute;
    left: 1090px;
    top: 40px;
}

/*Fim do Cabeçalho*/

.txtAreaDoAluno{
    width: 600px;
    height: 38px;
    font-size: 35px;
    text-align: center;
    color: black;
    position: absolute;
    left: 26.5%;
    top: 115px;
}
.projetos{
    width: 300px;
    height: 38px;
    position: absolute;
    left: 10%;
    top: 180px;
}
.imgProjetos{
    border: solid #E6E6E6;
    position: absolute;
    width: 140%;
    height: 250px;
    left: 0%;
    top: 0%;
}
.retImgPro{
    width: 142%;
    height: 40px;
    position: relative;
    left: 0px;
    top: 200px;
    background: rgba(0, 0, 0, 0.51);
}
.txtRetPro{
    width: 200px;
    height: 38px;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 40%;
    top: 5px;
}
.imgEventos{
    border: solid #E6E6E6;
    position: absolute;
    width: 140%;
    height: 250px;
    left: 210%;
    top: 0%;
}
.retImgEve{
    width: 142%;
    height: 40px;
    position: relative;
    left: 210%;
    top: 160px;
    background: rgba(0, 0, 0, 0.51);
}
.txtRetEve{
    width: 200px;
    height: 38px;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 40%;
    top: 5px;
}
.imgPostagens{
    border: solid #E6E6E6;
    position: absolute;
    width: 140%;
    height: 250px;
    left: 0%;
    top: 800%;
}
.retImgPost{
    width: 142%;
    height: 40px;
    position: relative;
    left: 0px;
    top: 423px;
    background: rgba(0, 0, 0, 0.51);
}
.txtRetPost{
    width: 200px;
    height: 38px;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 40%;
    top: 5px;
}
.imgManuais{
    border: solid #E6E6E6;
    position: absolute;
    width: 140%;
    height: 250px;
    left: 210%;
    top: 0%;
}
.retImgEve{
    width: 142%;
    height: 40px;
    position: relative;
    left: 210%;
    top: 160px;
    background: rgba(0, 0, 0, 0.51);
}
.txtRetEve{
    width: 200px;
    height: 38px;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 40%;
    top: 5px;
}
.footer1 {
    display: inline;
    color: rgba(0, 0, 0, 0.51);
    font-size: 12px;
    position: absolute;
    left: 300px;
    top: 570px;
}
#logo2{
    width: 50px;
    height: 30px;
    display: inline;
    position: absolute;
    left: 752px;
    top: 15px;
}
#localIcon{
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, 0.10);
    display: inline;
    position: absolute;
    left: 308px;
    top: 3px;
}
#whatsIcon{
    width: 17px;
    height: 17px;
    display: inline;
    position: absolute;
    left: 87px;
    top: 14px;
}

/*A parte*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #434343;

    font-size: 16px;
}

main.cards {
    display: flex;
    padding: 32px;
    margin-top: 120px;
}


main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 460px;
    margin-left: 35px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 100px;
    height: 150px;
}

main.cards section.card img {
    width: 300%;
    margin-left:-108px;
    align-items: center;
    display: flex;
}

main.cards section.card h3{
      align-items: center;
     
     font-size: 150%;
     margin: 10px 0;
} 

main.cards section.card span {
    font-weight: 300;
    max-width: 400px;
    font-size: 80%;
    margin-bottom: 18px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #000, #000);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #000, #000);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #000, #000);
}

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #000;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #000
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #000;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}