

.container img { max-width: 300px; }

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 1px;
    color: var(--azul);
    font-family: Georgia, serif;
    font-size:1px;
}
button{
    border-radius: 10px;
     margin-left: 40px !important;
    
}
.botao{
    font-size: 1.2em;
    background: #070216;
    border: 0;
margin-bottom: 1em;
color: #ffffff;
padding: 0.2em 0.6em;
position: static;
top: 10%;
left: 70%;
margin-right: 20px;
margin-left: 80px

}

.botao, select{
    cursor: pointer;
}